# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3
event_voting.db

# User Uploads
app/uploads/*
!app/uploads/.gitkeep

# IDEs and OS files
.vscode/
.idea/
.DS_Store
.gemini/
